{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
<title></title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/main.css" type="text/css">
<script src="{{ STATIC_PREFIX }}js/jquery-1.8.2.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/simple-action.js"></script>

</head>
<body>
	<div class='menu' id='menu'>
		<div class='menu-title'>Home</div>
		<div class='menu-title'>Contact</div>
		<div class='menu-title'>About</div>
	</div>
	<div class='content' id='content'></div>
	<div class='content content-head' id='content-head'>
		 <marquee scrollAmount=2 direction=up width=500px height=20px onmouseover=stop() onmouseout=start()>
		 	<!--<div>here we use some push message 1<span class='close-message'>[x]</span></div>
		 	<div>here we use some push message 2<span class='close-message'>[x]</span></div>
		 	<div>here we use some push message 3<span class='close-message'>[x]</span></div>
		 	<div>here we use some push message 4<span class='close-message'>[x]</span></div>
		 	<div>here we use some push message 5<span class='close-message'>[x]</span></div>
		 	<div>here we use some push message 6<span class='close-message'>[x]</span></div>
		 	-->
		 </marquee>
	 </div>
	<div class='content content-left' id='content-left'>
	<ul class='item'>
	<li><div class='item-left' id='apppkey-list'>Appkey</div></li>
	<li><div class='item-left' id='server-list'>Server</div></li>	
	</ul>
	</div>


	<div class='content content-center' id='content-center'>center</div>
	<div class='content content-right' id='content-right'>right</div>
	<div class='content content-bottom' id='content-bottom'>bottom</div>
	

	<div class='foot' id='foot'>foot</div>

	<div hidden id='content-home'>home</div>
	<div hidden id='content-contact'>cantact</div>
	<div hidden id='content-about'>about</div>
</body>
<html/>
<script type="text/javascript">
$(document).ready(function(){
	$('.item-left').click(function(){
		id = $(this).attr('id');
		// console.log(id);
		var requrl = '#';
		if(id=='appkey-list'){
			requrl = "";
		}
		if(id=='server-list'){
			requrl = "{% url 'server-list' %}";
		}
		if(requrl!='#'){
			$.get(requrl, function(data){
			    $(".content-center").html(data);
			});
		}
	});

});
</script>